{% extends 'monsters/base.html' %}
{% block content %}

<h1>Monster Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ monster.name }}</span>
        <p>Level: {{ monster.level }}</p>
        <p>Attribute: {{ monster.attribute }}</p>
        <p>Type: {{ monster.type }}</p>
        <p>Lore: {{ monster.lore|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'monster_update' monster.id %}">Edit</a>
        <a href="{% url 'monster_delete' monster.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
   
  </div>
</div>

{% endblock %}
